<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.recharge2mePlay.recharge2me">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name="recahrge.StartPaymentPaytm"></activity>
        <activity android:name="Ui_Front_and_Back_end.Transactions.NotificationTransactionDetails" />
        <activity android:name="Ui_Front_and_Back_end.Policies" />
        <activity android:name="Ui_Front_and_Back_end.Edit.Edit_profile" />
        <activity android:name="recahrge.contactList.contactList_activity" />
        <activity android:name="recahrge.plans.getRecahrgePlan" />
        <activity android:name="recahrge.recharge_ui" />
        <activity android:name="Ui_Front_and_Back_end.Main_UserInterface" />
        <activity android:name="LogInSignIn_Entry.EntryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>